[class*="col-"] {
    min-height: 50px;
    background-color: #006cfa;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

section.first, section.second, section.offset, section.nested-sec {
    margin-bottom: 20px;
}

.nested {
    background-color: #00e165;
    border: solid 1px #006cfa;
}
.col-lg-6.row, .col-lg-7.row, .col-lg-5.row {
    padding: 15px;
}

